<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lest.task.mapper.TaskCommitMapper">

    <resultMap type="com.lest.task.domain.TaskCommit" id="TaskCommitResult">
        <id     property="taskCommitId"   column="task_commit_id"  />
        <result property="taskId"         column="task_id"        />
        <result property="repoId"         column="repo_id"        />
        <result property="commitHash"     column="commit_hash"    />
        <result property="commitMessage"  column="commit_message" />
        <result property="author"         column="author"        />
        <result property="commitTime"     column="commit_time"   />
        <result property="createBy"       column="create_by"      />
        <result property="createTime"     column="create_time"   />
    </resultMap>

    <insert id="insert" parameterType="com.lest.task.domain.TaskCommit" useGeneratedKeys="true" keyProperty="taskCommitId">
        insert into task_commit (task_id, repo_id, commit_hash, commit_message, author, commit_time, create_by, create_time)
        values (#{taskId}, #{repoId}, #{commitHash}, #{commitMessage}, #{author}, #{commitTime}, #{createBy}, now())
    </insert>

    <select id="selectCommitsByTaskId" resultMap="TaskCommitResult">
        select * from task_commit where task_id = #{taskId} order by commit_time desc
    </select>

    <select id="selectMRsByTaskId" resultMap="TaskCommitResult">
        select * from task_commit where task_id = #{taskId} order by commit_time desc
    </select>

    <select id="selectTaskIdByCommitHash" resultType="java.lang.Long">
        select task_id from task_commit where commit_hash = #{commitHash} limit 1
    </select>

    <delete id="deleteByTaskId">
        delete from task_commit where task_id = #{taskId}
    </delete>

</mapper>
