<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lest.task.mapper.TaskLabelMapper">

    <insert id="insert" parameterType="com.lest.task.domain.TaskLabel">
        insert into task_label (task_id, label_id) values (#{taskId}, #{labelId})
    </insert>

    <select id="selectLabelIdsByTaskId" resultType="java.lang.Long">
        select label_id from task_label where task_id = #{taskId}
    </select>

    <delete id="deleteByTaskId">
        delete from task_label where task_id = #{taskId}
    </delete>

    <insert id="insertBatch">
        insert into task_label (task_id, label_id) values
        <foreach item="labelId" collection="labelIds" separator=",">
            (#{taskId}, #{labelId})
        </foreach>
    </insert>

</mapper>
