<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lest.modules.release.mapper.ReleaseArtifactMapper">

    <resultMap type="com.lest.modules.release.domain.ReleaseArtifact" id="ReleaseArtifactResult">
        <id     property="releaseArtifactId"  column="release_artifact_id" />
        <result property="releasePlanId"       column="release_plan_id"    />
        <result property="artifactName"        column="artifact_name"      />
        <result property="artifactType"        column="artifact_type"      />
        <result property="fileName"            column="file_name"          />
        <result property="filePath"            column="file_path"          />
        <result property="fileSize"            column="file_size"          />
        <result property="fileHash"            column="file_hash"          />
        <result property="downloadUrl"         column="download_url"      />
        <result property="downloadCount"       column="download_count"     />
        <result property="uploadedBy"          column="uploaded_by"        />
        <result property="uploadedAt"          column="uploaded_at"        />
        <result property="metadata"            column="metadata"           />
        <result property="releaseName"         column="release_name"       />
        <result property="uploadedByName"     column="uploaded_by_name"  />
    </resultMap>

    <insert id="insert" parameterType="com.lest.modules.release.domain.ReleaseArtifact" useGeneratedKeys="true" keyProperty="releaseArtifactId">
        insert into release_artifact (release_plan_id, artifact_name, artifact_type, file_name, file_path,
                                      file_size, file_hash, download_url, download_count, uploaded_by,
                                      uploaded_at, metadata)
        values (#{releasePlanId}, #{artifactName}, #{artifactType}, #{fileName}, #{filePath},
                #{fileSize}, #{fileHash}, #{downloadUrl}, #{downloadCount}, #{uploadedBy},
                now(), #{metadata})
    </insert>

    <update id="deleteById">
        update release_artifact set deleted = 1 where release_artifact_id = #{releaseArtifactId}
    </update>

    <select id="selectByReleaseId" resultMap="ReleaseArtifactResult">
        SELECT ra.release_artifact_id, ra.release_plan_id, ra.artifact_name, ra.artifact_type,
               ra.file_name, ra.file_path, ra.file_size, ra.file_hash, ra.download_url,
               ra.download_count, ra.uploaded_by, ra.uploaded_at, ra.metadata,
               rp.name AS release_name, su.username AS uploaded_by_name
        FROM release_artifact ra
        LEFT JOIN release_plan rp ON ra.release_plan_id = rp.release_plan_id AND rp.deleted = 0
        LEFT JOIN sys_user su ON ra.uploaded_by = su.user_id AND su.del_flag = '0'
        WHERE ra.deleted = 0
        <if test="releasePlanId != null">AND ra.release_plan_id = #{releasePlanId}</if>
        ORDER BY ra.uploaded_at DESC
    </select>

    <select id="countByReleaseId" resultType="int">
        select count(*) from release_artifact where release_plan_id = #{releasePlanId} and deleted = 0
    </select>

</mapper>
