<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lest.modules.task.mapper.TaskWatcherMapper">

    <delete id="deleteByTaskId">
        DELETE FROM task_watcher WHERE task_id = #{taskId}
    </delete>

    <insert id="insertBatch">
        INSERT INTO task_watcher (task_id, user_id) VALUES
        <foreach collection="userIds" item="userId" separator=",">
            (#{taskId}, #{userId})
        </foreach>
    </insert>

</mapper>
