<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lest.modules.task.mapper.LabelMapper">

    <resultMap type="com.lest.modules.task.domain.Label" id="LabelResult">
        <id     property="labelId"      column="label_id"   />
        <result property="projectId"   column="project_id" />
        <result property="name"         column="name"       />
        <result property="color"        column="color"      />
        <result property="createBy"   column="create_by"   />
        <result property="createTime"  column="create_time" />
    </resultMap>

    <select id="selectById" resultMap="LabelResult">
        select label_id, project_id, name, color, create_by, create_time from label where label_id = #{labelId}
    </select>

    <select id="selectByProjectId" resultMap="LabelResult">
        select label_id, project_id, name, color, create_by, create_time from label where project_id = #{projectId} order by create_time asc
    </select>

    <insert id="insert" parameterType="com.lest.modules.task.domain.Label" useGeneratedKeys="true" keyProperty="labelId">
        insert into label (project_id, name, color, create_by, create_time) values (#{projectId}, #{name}, #{color}, #{createBy}, now())
    </insert>

    <delete id="deleteById">
        delete from label where label_id = #{labelId}
    </delete>

</mapper>
